<div id='createbackground'>
  <div class='row'>
    <div class='col s4'>
      <%= image_tag('greylogo2.png')%>
    </div>
    <div class='col s7' id='signupform'>
      <h1>Sign up</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class='field'>
          <%= f.label :name%><br>
          <%= f.text_field :name%>
        </div>

        
          <%= f.label :neighborhood%><br>
          
            <%= f.select :neighborhood,  options_for_select([['Chelsea', 1],["Hell's Kitchen", 2], ['Midtown', 3], ['Midtown East', 4], ['East Village', 5], ['Lower East Side', 6], ['West Village', 7], ["Greenwich Village", 8], ['SoHo', 9], ['Tribeca', 10], ['Chinatown', 11], ['Financial District',12 ], ['Upper West Side', 13], ['Morningside Heights', 14], ['Harlem', 15], ['East Harlem', 16],['Spanish Harlem', 17], ['Upper East Side', 18]])%>
          
      
        <br>
         <div class="file-field input-field">

        <div class="btn">

          <span>Profile Photo</span>
          <%= f.file_field :avatar %>
          </div>
        <input class="file-path validate" type="text"/>
        </div>
        <br>
        <br>
        <div class="actions">
          <%= f.submit "Sign up", class: 'btn-large' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
  </div>
</div>