<div class='imgcontainer'>
	<div class='row'>
		<div class='col s2 offset-s10' id='login'>
			<%=link_to "Log In", new_user_session_path, :class => 'btn-large cyan lighten-1'%>
		</div>
		<div class='col s6 offset-s3 splash center-align'>
		<%=image_tag('transparent.png', class: 'splashLogo')%>

			<p id='splashText'>New York City is dirty. Because trash attracts trash, it is imperative to clean it up before we're drownin in trash. Why not do something about it? Our community is all about making this cities communities even better and cleaner. In a city of over 8 million people why not help each other out? So grab your family and friends and come make NYC beautiful. </p>
			<br>
			<%=link_to "Sign Up Now", new_user_registration_path, :class => 'waves-effect waves-light btn-large cyan lighten-1 center-align' %>
		</div>
	</div>
</div>
<div class='row'>
<%@projects = Project.limit(4)%>
		<%@projects.each do |t|%>
			<div class=" dynamic col s12 m6 l3 <%=t.location%>">			
						<div class="card">
			              <div class="card-image">
			             	 <%=image_tag(t.photos, height: 252)%>
			              	<span class="card-title"><%=t.name%></span>
			              </div>
			            <div class="card-content">
			              <p><%=t.description%></p>
			            </div>
			            <div class="card-action">
			              <%=link_to 'View', project_path(t)%>
			            </div>		  
	 		        </div>
				</div>
		<%end%>	
</div>