<div class='row'>
	<div class="col s12 m12 l12 left-align ">
		<h3 id='find'>Find a Project</h3>	
</div>
<div class='row'>
	<div class='col s12 m12 l4'>
		
  	</div>
 </div>
 <a id='dropdownbtn' class='dropdown-button btn cyan lighten-1' data-activates='dropdown3'>Neighborhoods</a>
	<div id='dropdown3' class="button-group filter-button-group dropdown-content">
		 <button class='drp btn transparent z-depth-0' data-filter="*">All</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".chelsea">Chelsea</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".westvillage">West Village</button> 
		 <button class='drp btn transparent z-depth-0' data-filter=".midtownwest">Hell's Kitchen</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".midtown">Midtown</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".midtowneast">Midtown East</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".eastvillage">East Village</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".lowereastside">Lower East Side</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".westvillage">West Village</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".greenwichvillage">The Village</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".soho">SoHo</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".tribeca">Tribeca</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".chinatown">Chinatown</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".fidi">FiDi</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".upperwestside">Upper West Side</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".morningsideheights">Morningside</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".harlem">Harlem</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".eastharlem">East Harlem</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".uppereastside">Upper East Side</button>

		 
	</div>

	
	<div class='row' id='cards'>
        <div class="grid"
			  data-isotope='{ "itemSelector": ".grid-item", "masonry": { "columnWidth": 200 } }'>
			
			</div>
			<%@projects = Project.all%>
		<%@projects.each do |t|%>
			<div class="grid-item dynamic col s12 m6 l3 <%=t.location%>">			
						<div class="card">
			              <div class="card-image">
			             	 <%=image_tag(t.photos, height: 252)%>
			              	<span class="card-title"><%=t.name%></span>
			              </div>
			            <div class="card-content">
			              <p><%=t.description%></p>
			            </div>
			            <div class="card-action">
			              <%=link_to 'View', project_path(t)%>
			            </div>		  
	 		        </div>
				</div>
		<%end%>	  
  		</div>
		
		
	</div>
	