<div class='row top'>
	<div class="col s12 m12 l12 welcome ">
		<h3 class='welcome'>Find a Project</h3>	
</div>
<div class='row'>
	<div class='col s12 m12 l4'>
		
  	</div>
 </div>
 <div class='row'>
 <a id='dropdownbtn' class='dropdown-button btn-large cyan lighten-1' data-activates='dropdown3'>Neighborhoods</a>
	<div id='dropdown3' class="button-group filter-button-group dropdown-content">
		 <button class='drp btn transparent z-depth-0' data-filter="*">All</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".chelseany">Chelsea</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".westvillageny">West Village</button> 
		 <button class='drp btn transparent z-depth-0' data-filter=".midtownwestny">Hell's Kitchen</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".midtownny">Midtown</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".midtowneastny">Midtown East</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".eastvillageny">East Village</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".lowereastsideny">Lower East Side</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".westvillageny">West Village</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".greenwichvillageny">The Village</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".sohony">SoHo</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".tribecany">Tribeca</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".chinatownny">Chinatown</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".fidiny">FiDi</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".upperwestsideny">Upper West Side</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".morningsideheightsny">Morningside</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".harlemny">Harlem</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".eastharlemny">East Harlem</button>
		 <button class='drp btn transparent z-depth-0' data-filter=".uppereastsideny">Upper East Side</button>

		 
	</div>
</div>
	
	<div class='row' id='cards'>
        <div class="grid"
			  data-isotope='{ "itemSelector": ".grid-item", "masonry": { "columnWidth": 200 } }'>
			
			
			<%@projects = Project.all%>
		<%@projects.each do |t|%>
			<div class="grid-item <%=t.location%> dynamic col s12 m6 l3 ">			
						<div class="card">
			              <div class="card-image">
			             	 <%=image_tag(t.photos, height: 252)%>
			              	<span class="card-title"><%=t.name%></span>
			              </div>
			            <div class="card-content">
			              <p><%=t.description%></p>
			            </div>
			            <div class="card-action">
			              <%=link_to 'View', project_path(t)%>
			            </div>		  
	 		        </div>
				</div>
		<%end%>	  
  		</div>
	</div>	
		
	</div>

	<script>
$( document ).ready(function(){
  $(".button-collapse").sideNav();
   //image thing
   

	///////////////
  $('.grid').isotope({
  // options
  itemSelector: '.grid-item',
  layoutMode: 'fitRows'
});
  
  var $grid = $('.grid').isotope({
  // options
});
  $('.filter-button-group').on( 'click', 'button', function() {
    var filterValue = $(this).attr('data-filter');
    $grid.isotope({ filter: filterValue });
  });

  $(function() {

    var $container = $('#container'),
    $select = $('#filters select');

    $container.isotope({
      itemSelector: '.item'
    });

    $select.change(function() {
      var filters = $(this).val();
      ;
      $container.isotope({
        filter: filters
      });
    });

  });

})
</script>
	