<div class='row'>
	<div class="col s12 m12 l12 left-align ">
		<h3 id='create'>Create a Project</h3>	


	</div>
</div>

	<div class="row">
		


		<!-- right side of page -->
		<div id='deets' class="offset-l6 col s12 l4 ">
			
			<!-- form to create a new project -->
			<%= form_for Project.new do |f| %><br>
			<%= f.label :Project_name %><br><br>
			<%= f.text_field :name %><br>
			<%= f.label :Project_description %><br>
			<%= f.text_field :description %><br><br>
			<%= f.label :Date %><br>
			<%= f.date_field :date %><br><br>
			<div class="file-field input-field">
       			 <div class="btn cyan lighten-1">
          			<span>Photo</span>
          			<%= f.file_field :photos %>
          		</div>
        		<input class="file-path validate" type="text"/>
        	</div><br><br>
			<%= f.label :Volunteers %>
			<%= f.number_field :people %>
			<%= f.label :neighborhood%><br>
          
            <%= f.select :location,  options_for_select([['Chelsea', 1],["Hell's Kitchen", 2], ['Midtown', 3], ['Midtown East', 4], ['East Village', 5], ['Lower East Side', 6], ['West Village', 7], ["Greenwich Village", 8], ['SoHo', 9], ['Tribeca', 10], ['Chinatown', 11], ['Financial District',12 ], ['Upper West Side', 13], ['Morningside Heights', 14], ['Harlem', 15], ['East Harlem', 16],['Spanish Harlem', 17], ['Upper East Side', 18]])%>
            <br>
			<span class='waves-effect waves-light cyan lighten-1 btn'><%= f.submit %></span><br><br>
			<% end %>
		<%= link_to "Back", projects_path %></button><br><br>
		</div>
	</div>