
<% @project = Project.find(params[:id]) %>
<% @vols = Volunteer.where(project_id: @project.id)%>
<%@vol = @vols.length%>
<%@project.people%>
<% @people = @project.people %>
<% if @vols.length == 0 %>
	<% @width = 0 %>
<%else%>
	<%@width = (@vol.to_f/@people.to_f) * 100.0  %>
<%end%>




<div class="mapPage">
	<div class="row s12" id='projecttitle'><%=@project.name%></div>
	<br>
	<div class="row ">


		<!-- enables edit and destroy ONLY if user is logged in -->
		
		<div class="col s12 m6 l5  deets" id='projectdeets'>
			<% if @project.user_id == current_user.id %>
				<%= link_to "Edit", edit_project_path(@project) %>
				<%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %>
			<%end%>
			<h4>About this project</h4>
			<p><%=@project.date.strftime("%m/%d/%Y")%></p>
			<p><%=@project.description%></p>
			<br>
			<%= form_for(:volunteer, url: volunteers_path, method: :post) do |f| %>
				<%=f.hidden_field :project_id, :value => params[:id] %>
				<% if Volunteer.exists?(volunteer_id: current_user.id) || @vol == @people || @project.user_id == current_user.id %>
					<%=f.submit 'Volunteer', class: 'btn-large disabled'%>
				<%else%>
				<%=f.submit "Volunteer", class: 'btn-large cyan lighten-1' %>
				<%end%>
			<%end%>
			<br><br>
			<div class="pb">
				<div class="pb-title center-align">Volunteers</div>
				<div>
					<div class="pb-frame"  >
						<div class="pb-fill" style="width:<%=@width%>%;">&nbsp;</div>
					</div>
						<span class="pb-caption"><%=@vols.length%></span>
						<span class="pb-caption-r"><%=@project.people%></span>
				</div>
				<div style="clear: both;"></div>
				<div style="margin: 2px 0 0 0; text-align: right;">

				</div>
			</div>
			<div  id="map">MAP DIV</div>
			</div>
		

		<div class="col s12 m6 l6 offset-l1 right-align "><%=image_tag(@project.photos, width: '70%')%></div>
			
</div>
	<div class='row'>
		
	</div>



    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP'] %>"
			async defer></script>
<script type="text/javascript">
				
	var lat;
	var lng;

	geoCode();

	function geoCode(){

		var location = '<%= @project.location %>';
		axios.get('https://maps.googleapis.com/maps/api/geocode/json?', {
			params:{
				address: location,
				key: "<%= ENV['MAP'] %>"
			}
		})
		.then(function(response){
			console.log(response);
			//log full response
			var formattedAddress = response.data.results[0].formatted_address;
			var formattedAddressOutput = `${formattedAddress}`;

			var addressComponents = response.data.results[0].address_components;
			var addressComponentsOutput = '<ul>';
			for(var i = 0; i < addressComponents.length; i++){
				addressComponentsOutput += `${addressComponents[i].types[0]}: ${addressComponents[i].long_name}`;
			}

			lat = response.data.results[0].geometry.location.lat;
			lng = response.data.results[0].geometry.location.lng;
		}).then(function(){
			var map = new google.maps.Map(document.getElementById('map'), {
				center: {lat: lat, lng: lng},
				zoom: 15
			});
		})
		.catch(function(error){
			console.log(error);
		})

	}
			</script>
