<!DOCTYPE html>
<html>
  <head>
    <title>NYClean</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	
  	<% if current_user %>
  		<%if current_page?(url_for(:new_project))%>
  				<div id='projectbackground'></div>
  				


  			<%else%>
  				<div id='backgroundimage'></div>
  		
  	
	  	

	  <nav class='transparent z-depth-0'>
	    <div class="nav-wrapper transparent" id='nav'>
	      <a href="#" class="brand-logo"><%=image_tag('whitelogo.png')%></a>
	      <a  data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        
	        <li><%=link_to 'Start a Project', new_project_path, class: 'waves-effect waves-yellow btn cyan lighten-1'%></li>
	        <li><%=link_to 'Neighborhoods', projects_path%></li>
	        <li><%=link_to 'Home', user_path(current_user)%></li>
	        <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
	      </ul>
	      <ul class="side-nav" id="mobile-demo">
	        <li><a class = ' btn waves-effect waves-yellow btn'' href="#">Start a project</a></li>
	        <li><%=link_to 'Neighborhoods', projects_path%></li>
	        <li><a class='navlink' href="#">Home</a></li>
	        <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
     	 </ul>
	    </div>
	  </nav>
	  <%end%>
     <%end%>
     <% puts current_user.inspect%>
    <%= yield %>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2RCgQ2GZ4w0zMxOmbC2_fOvQt26wpSSA"
			async defer></script>
<!-- 		<script type="text/javascript" src="/maps.js"></script> -->
  </body>
</html>
